@media all and (min-width: 576px) {
    header {
        .header__colA {
            .header__colAContainer {
                .header__colA--img {
                    transform: scale(1);
                }

                h1 {
                    font-size: 2.2em;
                    font-weight: bolder;
                    text-align: center;
                }
            }
            .header__colB {
                font-size: 1.2em;
                text-align: left;
            }

            .header__nav {
                .nav-link {
                    font-size: 1.2em;
                    letter-spacing: 0.1em;
                }
            }
        }
    }
    .sectionA {
        .sectionA__colB {
            .mainDisplay {
                h2 {
                    font-size: 1.7em;
                }

                p {
                    font-size: 1.1em;
                }
            }
        }

        .sectionA__btn {
            button {
                font-size: 1.4em;
            }
        }
    }

    .tools {
        .tools__colB {
            h3 {
                font-size: 2em;
            }

            h4 {
                font-size: 2em;
            }
        }

        .tools__colC {
            .tools__colC__slider {
                .tools__colC__slider-tracker {
                    .tools__colC__slide {
                        .tools__colC--img {
                            transform: scale(0.7);
                        }
                    }
                }
            }
        }
    }

    .sectionB {
        .sectionB__Aux {
            button {
                letter-spacing: 0.2em;
            }
        }

        .sectionB__colA {
            .sectionB__colA--img {
                transform: scale(0.6);
            }
            .sectionB__colA--imgS {
                transform: scale(0.7);
            }
        }
    }

    footer {
        .footerA {
            .nav-link {
                font-size: 1.2em;
                letter-spacing: 0.2em;
            }
        }
        .footerC {
            .footer_contact--Logo {
                transform: scale(1.3);
            }
        }
    }
    .modal-content {
        font-size: 1.1em;
        .modal__Top {
            h2 {
                font-size: 1.5em;
            }
            .btn-close {
                margin-right: 5%;
            }
        }
        .modal-body {
            .middle {
                .modal__bottom {
                    margin-top: 5%;
                    .modalE {
                        transform: scale(1.5);
                    }
                    .btnSubmit {
                        font-size: 1.2em;
                    }
                }
                .colGeneral {
                    //  background-color: lightcoral;
                    margin-top: 2%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    .form_contact--img {
                        width: 100%;
                        transform: scale(0.7);
                    }
                }
            }
        }
    }

    // C A T A L O G S

    .catalogSectionA {
        .desLogLink__title {
            font-size: 2.2em;
        }
        .pComent {
            font-size: 1em;
            text-align: justify;
            line-height: 1.4;
            margin-top: 1%;
        }

        .codeVSChar {
            font-size: 0.7em;
        }

        .codeVSTag {
            font-size: 0.7em;
        }

        .codeVSClass {
            font-size: 0.7em;
        }

        .codeVSQoutes {
            font-size: 1em;
        }

        .codeVSWhite {
            font-size: 0.7em;
        }
    }
    .catalogSsectionB {
        .linkToSite {
            .codeVSChar {
                font-size: 0.8em;
            }

            .codeVSTag {
                font-size: 0.8em;
            }

            .codeVSClass {
                font-size: 0.8em;
            }

            .codeVSQoutes {
                font-size: 1em;
            }

            .codeVSWhite {
                font-size: 0.8em;
            }
            .pLinkP {
                font-size: 1.1em;
            }
        }
    }
    .releaseTools {
        padding-top: 2%;
        .desLogLink__colA {
            h3 {
                font-size: 1.3em;
            }
            h4 {
                margin-top: -3%;
                font-size: 1.3em;
            }
        }
        .desLogLink__colB {
            .releaseTools__img {
                width: 25%;
                transform: scale(0.9);
            }
        }
    }
    .misionVision {
        font-size: 1.1em;
    }
}
