@media all and (min-width: 992px) {
    header {
        .header__colB {
            font-size: 1.4em;
        }

        .header__nav {
            .nav-link {
                font-size: 1.6em;
                letter-spacing: 0.1em;
            }
        }
    }
    .sectionA {
        .sectionA__colA {
            margin-right: -2%;
            button {
                //font-size: 2em;
            }
        }
        .sectionA__colB {
            .mainDisplay {
                h2 {
                    font-size: 2.1em;
                }
            }
        }
    }
    .tools {
        .tools__colA {
            .tools__colA--img {
                transform: scale(1);
                margin-left: 5%;
            }
        }

        .tools__colB {
            opacity: 0.5;
            h3 {
                font-size: 2em;
            }

            h4 {
                font-size: 2em;
            }
        }

        .tools__colC {
            .tools__colC__slider {
                .tools__colC__slider-tracker {
                    .tools__colC__slide {
                        .tools__colC--img {
                            transform: scale(0.6);
                        }
                    }
                }
            }
        }
    }

    .sectionB {
        .sectionB__Aux {
            display: none;

            button {
                display: none;
            }
        }

        .sectionB__colA {
            .sectionB__colA--img {
                transform: scale(0.55);
            }
            .sectionB__colA--imgS {
                transform: scale(0.65);
            }
        }
        .sectionB__mainDisplay {
            display: block;

            .mainDisplay__top {
                h2 {
                    font-size: 2.2em;

                    .codeVSChar {
                        font-size: 0.8em;
                    }
                    .codeVSTag {
                        font-size: 0.8em;
                    }
                }

                button {
                    font-size: 1.2em;
                }
            }

            .sectionB__mainDisplay__bottom {
                padding-top: 2%;
                font-size: 1.5em;
                .pComent {
                    line-height: 1.8;
                }
                .codeVSChar {
                    font-size: 0.8em;
                }
                .codeVSTag {
                    font-size: 0.8em;
                }
                .codeVSClass {
                    font-size: 0.8em;
                }
                .codeVSQoutes {
                    font-size: 0.8em;
                }
                .codeVSWhite {
                    font-size: 0.8em;
                }
                .pLinkP {
                    font-size: 0.8em;
                }
            }
        }

        .sectionB__mainDisplay__footer {
            .sectionB__mainDisplay__footerA {
                .sectionB__mainDisplay__footerA--img {
                    transform: scale(1);
                }
            }
            .sectionB__mainDisplay__footerB {
                .sectionB__mainDisplay__footer--img {
                    width: 50%;
                }
            }
        }
    }

    footer {
        .footerA {
            .nav-link {
                font-size: 1em;
            }
        }
        .footerC {
            .footer_contact--Logo {
                padding-top: 10%;
                transform: scale(1.5);
            }
        }
    }

    // C A T A L O G S

    .catalogSectionA {
        .desLogLink__title {
            font-size: 2.1em;
        }
        .pComent {
            font-size: 1.3em;
            text-align: left;
            line-height: 1.6;
            margin-top: 1%;
            .codeVSChar {
                font-size: 1.2em;
            }

            .codeVSTag {
                font-size: 1.2em;
            }

            .codeVSClass {
                font-size: 1.2em;
            }

            .codeVSQoutes {
                font-size: 1.2em;
            }

            .codeVSWhite {
                font-size: 1.2em;
            }
        }
        .catalogSectionA__logo {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .catalogSectionA--logo {
                transform: scale(1.2);
            }
        }
    }
    .catalogSsectionB {
        .linkToSite {
            padding-top: 0%;
            .codeVSChar {
                font-size: 1.2em;
            }

            .codeVSTag {
                font-size: 1.2em;
            }

            .codeVSClass {
                font-size: 1.2em;
            }

            .codeVSQoutes {
                font-size: 1.2em;
            }

            .codeVSWhite {
                font-size: 1.2em;
            }
            .pLinkP {
                font-size: 1.5em;
            }
        }
    }
    .releaseTools {
        .desLogLink__colA {
            padding-top: 0%;
            h3 {
                font-size: 1.6em;
            }
            h4 {
                margin-top: -3%;
                font-size: 1.6em;
            }
        }
        .desLogLink__colB {
            .releaseTools__img {
                width: 30%;
                transform: scale(0.7);
            }
        }
    }
    .carousel {
        h4 {
            font-size: 2em;
        }
    }
    .misionVision {
        font-size: 1.3em;
    }
}
