.catalogSectionA {
    border-top: var(--colorThird) solid 1px;
    padding-top: 5%;
    .pComent {
        font-size: 0.8em;
        text-align: justify;
        line-height: 1.4;
        margin-top: 1%;
    }

    .codeVSChar {
        font-size: 0.5em;
    }

    .codeVSTag {
        font-size: 0.6em;
    }

    .codeVSClass {
        font-size: 0.8em;
    }

    .codeVSQoutes {
        font-size: 1em;
    }

    .codeVSWhite {
        font-size: 0.6em;
    }
}
.catalogSsectionB{
    .linkToSite{
        padding-top: 5%;
    }
}
.releaseTools {
    // background-color: blue;
    font-family: "lemon";
    font-weight: bold;
    border-top: var(--colorThird) solid 1px;
    padding-top: 5%;
    padding-bottom: 2%;
    .desLogLink__colA {
        padding-top: 2%;
        h3 {
            font-size: 1em;
        }
        h4 {
            margin-top: -5%;
            font-size: 1em;
        }
    }
    .desLogLink__colB {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .releaseTools__img {
            width: 30%;
            transform: scale(0.9);
            opacity: 0.8;
        }
    }
}
.carousel {
    border-top: var(--colorThird) solid 1px;
    border-bottom: var(--colorThird) solid 1px;
    padding-top: 5%;
    padding-bottom: 2%;
}
.wireframe{
    padding-top: 5% ;
    padding-bottom: 5%;
}
.misionVision{
    border-top: var(--colorThird) solid 1px;
    padding-top: 5%;  
    padding-bottom: 2%;
    text-align: justify ;
}
