* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* V A R I A B L E S */
:root {
    --colorPrimary: #262525;
    --colorSecondary: #f2f2f2;
    --colorThird: #5d5c5c;
    --colorVSTag: #24accd;
    --colorVSClass: #80e0fd;
    --colorVSQoutes: #ff7f00;
    --colorVSComment: #40a529;
}

@font-face {
    font-family: "lemon";
    src: url("../css/fuentes/LEMONMILK-Regular.otf");
}
@keyframes scroll {
    0% {
        transform: translateZ(0%);
    }

    100% {
        transform: translateX(calc(-100px * 4));
    }
}
@keyframes arrow {
    0% {
        transform: translatex(-10px);
    }

    100% {
        transform: translateX(10px);
    }
}

body {
    background-color: var(--colorPrimary);
    color: var(--colorSecondary);
    font-family: "Baloo 2", cursive;
}
.internal {
    background-color: var(--colorPrimary);
}

.codeVSChar {
    color: var(--colorSecondary);
    opacity: 0.5;
}

.codeVSTag {
    color: var(--colorVSTag);
}

.codeVSClass {
    color: var(--colorVSClass);
}

.codeVSQoutes {
    color: var(--colorVSQoutes);
}

.codeVSWhite {
    color: var(--colorSecondary);
}

.pComent {
    color: var(--colorVSComment);
}

a {
    color: #f2f2f2;
    text-decoration: none;
    font-weight: bolder;
}

header {
    padding: 2%;
    .header__colA {
        margin-top: 1%;
        .header__colAContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .header__colA--img {
                transform: scale(0.9);
            }
            h1 {
                font-size: 1.8em;
                letter-spacing: 0.1em;
                text-align: center;
                font-family: "lemon";
                opacity: 0.5;
                padding-top: 2%;
            }
        }
    }

    .header__colB {
        font-size: 1em;
        text-align: center;
        justify-content: center;
    }

    .header__nav {
        width: 100%;
        .nav-link {
            text-decoration: none;
            color: var(--colorSecondary);
            font-size: 1em;
            //   font-weight: bold;
            opacity: 0.5;
        }

        .nav-link:hover {
            color: var(--colorSecondary);
            opacity: 1;
        }
    }
}

.sectionA {
    border-top: var(--colorThird) solid 1px;
    .sectionA__colA {
        padding-top: 2%;
        display: flex;
        flex-direction: column;
        align-items: center;
        display: none;
        button {
            width: 100%;
            color: var(--colorSecondary);
            font-size: 1.8rem;
            font-weight: bold;
            opacity: 0.5;
            background-color: inherit;
            border: none;
            display: none;
            padding-top: 25%;
            padding-bottom: 10%;
            text-align: right;
            width: 120%;
            border-bottom: var(--colorThird) solid 1px;
        }

        button:hover {
            opacity: 1;
            text-align: right;
        }
    }

    .sectionA__colB {
        .mainDisplay {
            margin: 2%;
            padding: 2%;
            padding-left: 8%;
            border-left: var(--colorThird) solid 1px;
            h2 {
                font-family: "lemon";
                font-size: 1.5em;
            }
            p {
                margin-top: 2%;
                text-align: justify;
                font-size: 0.9em;
                line-height: 1.8;
            }
        }
    }

    .sectionA__btn {
        button {
            padding: 1% 8%;
            text-decoration: none;
            color: var(--colorPrimary);
            text-align: right;
            font-size: 1.2em;
            font-weight: bolder;
            opacity: 0.5;
            display: block;
            background-color: var(--colorSecondary);
            border: var(--colorSecondary) solid 1px;
            border-radius: 0.2em;
            margin-bottom: 5%;
        }

        button:hover {
            opacity: 1;
        }
    }
}

.tools {
    border-top: var(--colorThird) solid 1px;
    border-bottom: var(--colorThird) solid 1px;
    padding: 2%;
    .tools__colA {
        .tools__colA--img {
            transform: scale(0.8);
            opacity: 0.5;
        }
        .tools__colA--img:hover {
            opacity: 1;
        }
    }

    .tools__colB {
        border-right: var(--colorThird) solid 1px;
        align-items: center;
        justify-content: center;

        h3 {
            font-size: 1.8em;
            font-weight: bolder;
            opacity: 0.5;
        }

        h4 {
            margin-top: -5%;
            font-size: 1.8em;
            font-weight: bold;
            opacity: 0.5;
        }
    }

    .tools__colC {
        .tools__colC__slider {
            overflow: hidden;
            position: relative;

            .tools__colC__slider-tracker {
                display: flex;
                animation: scroll 15s infinite alternate;
                .tools__colC__slide {
                    .tools__colC--img {
                        transform: scale(0.6);
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.sectionB {
    margin-top: 2%;
    .sectionB__Aux {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 5%;

        button {
            background-color: var(--colorSecondary);
            text-align: center;
            margin-left: 10%;
            font-size: 1.2em;
            font-weight: bolder;
            text-decoration: none;
            opacity: 0.5;
            color: var(--colorPrimary);
            border: var(--colorSecondary) solid 1px;
        }

        button:hover {
            opacity: 1;
        }
    }

    .sectionB__colA {
        padding-left: 2%;
        justify-content: center;
        align-items: center;
        border-left: var(--colorThird) solid 1px;
        .sectionB__colA--img {
            transform: scale(0.5);
            opacity: 0.5;
        }

        .sectionB__colA--img:hover {
            opacity: 1;
        }

        .sectionB__colA--imgS {
            transform: scale(0.6);
            opacity: 0.5;
        }

        .sectionB__colA--imgS:hover {
            opacity: 1;
        }
    }
    .logoOption {
        display: none;
    }
    .sectionB__mainDisplay {
        margin-top: 4%;
        padding: 2%;
        padding-top: 2%;
        padding-right: 5%;
        display: none;

        .mainDisplay__top {
            h2 {
                font-size: 1.9em;
                .codeVSChar {
                    font-size: 0.8em;
                }

                .codeVSTag {
                    font-size: 0.7em;
                }
            }

            button {
                font-size: 1em;
                letter-spacing: 0.15em;
                font-weight: bolder;
                text-decoration: none;
                opacity: 0.5;
                color: var(--colorSecondary);
                border: var(--colorSecondary) solid 1px;
            }

            button:hover {
                opacity: 1;
            }
        }

        .sectionB__mainDisplay__bottom {
            margin-top: 1%;
            padding-top: 4%;
            padding-left: 4%;
            font-size: 1.2em;
            letter-spacing: 0.03em;
            padding-left: 2%;
            .pComent {
                font-size: 0.8em;
                text-align: left;
                line-height: 1.4;
                padding-left: 4%;
                margin-top: 1%;
            }

            .codeVSChar {
                font-size: 0.7em;
            }

            .codeVSTag {
                font-size: 0.7em;
            }

            .codeVSClass {
                font-size: 0.8em;
            }

            .codeVSQoutes {
                font-size: 1em;
            }

            .codeVSWhite {
                font-size: 0.6em;
            }

            .pLinkP {
                text-align: right;
                padding-right: 3%;
            }
        }
    }

    .sectionB__mainDisplay__footer {
        margin-top: 2%;
        .sectionB__mainDisplay__footerA {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .sectionB__mainDisplay__footerA--img {
                transform: scale(0.6);
            }
        }
        .sectionB__mainDisplay__footerB {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            .sectionB__mainDisplay__footer--img {
                width: 30%;
                transform: scale(0.8);
                opacity: 0.5;
            }
        }
    }
}
.modal-content {
    width: 80%;
    background-color: var(--colorPrimary);
    color: var(--colorSecondary);
    font-family: "Baloo 2";
    font-size: 1em;
    font-weight: bold;
    justify-content: center;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 2%;
    .modal__Top {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        h2 {
            width: 75%;
            font-weight: bolder;
            font-size: 1.5em;
            letter-spacing: 0.1em;
            text-align: center;
        }
        .btn-close {
            margin-right: 5%;
            background-color: var(--colorSecondary);
        }
    }
    .modal-body {
        border-top: var(--colorSecondary) solid 1px;
        .form_contact--img {
            transform: scale(0.4);
        }
        .colGeneral {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
        .btnSubmit {
            
            padding: 2% 5%;
            text-decoration: none;
            color: var(--colorSecondary);
            text-align: center;
            font-size: 1em;
            font-weight: bolder;
            //height: 15%;
            background-color: var(--colorPrimary);
            border: var(--colorSecondary) solid 1px;
            border-radius: 0.2em;
            // margin-bottom: 5%;
        }
        .modal__bottom {
            //background-color: red;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            .modalE {
                transform: scale(1.2);
            }
        }
    }
}

footer {
    margin-top: 2%;
    margin-bottom: 3%;
    padding-top: 1%;
    border-top: var(--colorThird) solid 1px;

    .footerB {
        align-items: center;
        .footer_contact--img {
            width: 23%;
            opacity: 0.5;
            transform: scale(0.8);
        }
    }

    .footerA {
        align-items: center;
        justify-content: center;

        .nav-link {
            padding-top: 2%;
            font-weight: bolder;
            text-decoration: none;
            color: var(--colorSecondary);
            text-align: center;
            font-size: 1em;
            opacity: 0.5;
        }

        .nav-link:hover {
            color: var(--colorSecondary);
            opacity: 1;
        }
    }

    .footerC {
        display: flex;
        justify-content: center;
        .footer_contact--Logo {
            padding-top: 10%;
            opacity: 0.5;
            transform: scale(1);
        }
    }
}
@import "pages";
@import "mediaQuery576";
@import "mediaQuery768";
@import "mediaQuery992";
@import "mediaQuery1200";

@media all and (min-width: 1400px) {
    footer {
        .footerA {
            .nav-link {
                font-size: 1.6em;
            }
        }
    }
}
